# Import the necessary libraries and dataset

In [1]:
import pandas as pd
import nltk
import re

In [2]:
resume_df = pd.read_csv("UpdatedResumeDataSet.csv")

In [20]:
resume_df.head(40)

,category,resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 may 2017 uitrgpv da...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,skills python tableau data visualization r stu...
7,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,expertise data quantitative analysis decision ...
10,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
11,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 may 2017 uitrgpv da...
12,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
13,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
14,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
15,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",skills c basics iot python matlab data science...
16,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,skills python tableau data visualization r stu...
17,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,education details btech rayat bahra institute ...
18,Data Science,Personal Skills â¢ Ability to quickly grasp t...,personal skills ability quickly grasp technica...
19,Data Science,Expertise â Data and Quantitative Analysis â...,expertise data quantitative analysis decision ...
20,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
21,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 may 2017 uitrgpv da...
22,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
23,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
24,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
25,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",skills c basics iot python matlab data science...
26,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,skills python tableau data visualization r stu...
27,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,education details btech rayat bahra institute ...
28,Data Science,Personal Skills â¢ Ability to quickly grasp t...,personal skills ability quickly grasp technica...
29,Data Science,Expertise â Data and Quantitative Analysis â...,expertise data quantitative analysis decision ...
30,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
31,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 may 2017 uitrgpv da...
32,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
33,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
34,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
35,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",skills c basics iot python matlab data science...
36,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,skills python tableau data visualization r stu...
37,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,education details btech rayat bahra institute ...
38,Data Science,Personal Skills â¢ Ability to quickly grasp t...,personal skills ability quickly grasp technica...
39,Data Science,Expertise â Data and Quantitative Analysis â...,expertise data quantitative analysis decision ...

In [4]:
# Remove unnecessary characters
resume_df['cleaned_resume'] = resume_df['resume'].apply(lambda x: re.sub('[^a-zA-Z0-9\s]', '', x))

# Convert the text to lowercase
resume_df['cleaned_resume'] = resume_df['cleaned_resume'].apply(lambda x: x.lower())

# Remove stop words
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
resume_df['cleaned_resume'] = resume_df['cleaned_resume'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Gokul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
resume_df

,category,resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 may 2017 uitrgpv da...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
...,...,...,...
957,Testing,Computer Skills: â¢ Proficient in MS office (...,computer skills proficient ms office word basi...
958,Testing,â Willingness to accept the challenges. â ...,willingness accept challenges positive thinkin...
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",personal skills quick learner eagerness learn ...
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,computer skills software knowledge mspower poi...
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,skill set os windows xp788110 database mysql s...

In [6]:

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
features = cv.fit_transform(resume_df['cleaned_resume']).toarray()

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, resume_df['category'], test_size=0.2, random_state=0)

from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

In [11]:
import docx

# Open the Word document
doc = docx.Document('Gokul Raja_CV.docx')

# Extract text content from the document
resume_text = '\n'.join([para.text for para in doc.paragraphs])

In [13]:
resume_text

'                                GOKUL RAJA R\n                                                           Data Analyst\n \nEMail ID            gokulrajar15gmailcom\nGit Hub link        \nLinkedIn              \nPortfolio               \nAcademic Qualification\n\nMuthayammal Engineering College Rasipuram\nProgramme  Major  Bachelors of Engineering  Mechanical Engineering\nYear Of Passing  2022\nCGPA  77\nWork Experience\n\nYoshopscom Chennai\nJob Title DATA ANALYST INTERN\nNov 28 2022  Jan 28 2023\nSuccessfully completed an intensive internship program in Microsoft Power BI gaining expertise in data visualization report creation and dashboard design\nAcquired proficiency in essential data analysis tools such as Python NumPy Pandas Matplotlib Seaborn SQL and MS Excel improving my data manipulation and statistical analysis skills\nThe Sparks Foundation Singapore\nJob Title DATA SCIENCE AND BUSSINESS ANALYTICS INTERN\nFeb 25 2023  Mar 25 2023\nWorked on two challenging projects that required me to leverage Power BI and Python libraries to analyze complex datasets draw insights and patterns\nTools and skills learned additionally Git Git Hub Data analysis and Data science\nCode Clause Pune\nJob Title ARTIFICIAL INTELLIGENCE INTERN\nApr 1 2022  Present\xa0\nCurrently enrolled in an exciting internship program focused on artificial intelligence where Im exploring cuttingedge AI technologies developing machine learning models and gaining handson experience in natural language processing computer vision and deep learning\nCourse\n\xa0OneData Software Solutions Coimbatore\nCourse Title Artificial Intelligence and Machine Learning\nJan 26 2022  Present\nTools and technologies learned Python NumPy Pandas Matplotlib Seaborn Scikit learn Informatica power center Git and GitHub\nData Analysis EDA Data Visualization Machine Learning ETL Version Control\nPersonal Project\n\nHospitals General and ICU beds Analysis using Power BI\n        Project link \nVideo Games Sales Analysis using Power BI\n       Git hub link \n  Superstore Sales Analysis using Python Libraries\n        Git hub link \n  Global Terrorism Analysis using Power BI\n        Git hub link \n           \nTechnical Skills\n\nMicrosoft Power BI Tableau\nMachine Learning Scikit learn\nPython NumPy Pandas Matplotlib Seaborn Plotly and Cufflinks Oops\nJava Oops\nMicrosoft Excel\nMY SQL\nInformatica Power Center ETL\nGit Git Bash and Git Hub\n\nOther Skills\n\nData analysis ETL Data visualization Web scrapping Data processing Version control Statistics and Probability\nCreativity Adaptability Time management Active listening\n\nDeclaration\n\n\tI hereby declare that the abovementioned details are true to the best of my knowledge\n\n\nPlace  Salem                                                                                                                   Gokul Raja R\nDate                                                                                                                                     Signature\n'

In [12]:
import re

# Remove non-alphanumeric characters
resume_text = re.sub(r'[^a-zA-Z0-9\s]', '', resume_text)

In [14]:
resume_text

'                                GOKUL RAJA R\n                                                           Data Analyst\n \nEMail ID            gokulrajar15gmailcom\nGit Hub link        \nLinkedIn              \nPortfolio               \nAcademic Qualification\n\nMuthayammal Engineering College Rasipuram\nProgramme  Major  Bachelors of Engineering  Mechanical Engineering\nYear Of Passing  2022\nCGPA  77\nWork Experience\n\nYoshopscom Chennai\nJob Title DATA ANALYST INTERN\nNov 28 2022  Jan 28 2023\nSuccessfully completed an intensive internship program in Microsoft Power BI gaining expertise in data visualization report creation and dashboard design\nAcquired proficiency in essential data analysis tools such as Python NumPy Pandas Matplotlib Seaborn SQL and MS Excel improving my data manipulation and statistical analysis skills\nThe Sparks Foundation Singapore\nJob Title DATA SCIENCE AND BUSSINESS ANALYTICS INTERN\nFeb 25 2023  Mar 25 2023\nWorked on two challenging projects that required me to leverage Power BI and Python libraries to analyze complex datasets draw insights and patterns\nTools and skills learned additionally Git Git Hub Data analysis and Data science\nCode Clause Pune\nJob Title ARTIFICIAL INTELLIGENCE INTERN\nApr 1 2022  Present\xa0\nCurrently enrolled in an exciting internship program focused on artificial intelligence where Im exploring cuttingedge AI technologies developing machine learning models and gaining handson experience in natural language processing computer vision and deep learning\nCourse\n\xa0OneData Software Solutions Coimbatore\nCourse Title Artificial Intelligence and Machine Learning\nJan 26 2022  Present\nTools and technologies learned Python NumPy Pandas Matplotlib Seaborn Scikit learn Informatica power center Git and GitHub\nData Analysis EDA Data Visualization Machine Learning ETL Version Control\nPersonal Project\n\nHospitals General and ICU beds Analysis using Power BI\n        Project link \nVideo Games Sales Analysis using Power BI\n       Git hub link \n  Superstore Sales Analysis using Python Libraries\n        Git hub link \n  Global Terrorism Analysis using Power BI\n        Git hub link \n           \nTechnical Skills\n\nMicrosoft Power BI Tableau\nMachine Learning Scikit learn\nPython NumPy Pandas Matplotlib Seaborn Plotly and Cufflinks Oops\nJava Oops\nMicrosoft Excel\nMY SQL\nInformatica Power Center ETL\nGit Git Bash and Git Hub\n\nOther Skills\n\nData analysis ETL Data visualization Web scrapping Data processing Version control Statistics and Probability\nCreativity Adaptability Time management Active listening\n\nDeclaration\n\n\tI hereby declare that the abovementioned details are true to the best of my knowledge\n\n\nPlace  Salem                                                                                                                   Gokul Raja R\nDate                                                                                                                                     Signature\n'

In [17]:
test_data = [resume_text]
cleaned_test_data = [re.sub('[^a-zA-Z0-9\s]', '', x.lower()) for x in test_data]
cleaned_test_data = [' '.join([word for word in x.split() if word not in stop_words]) for x in cleaned_test_data]
test_features = cv.transform(cleaned_test_data).toarray()

predicted_category = clf.predict(test_features)
print(predicted_category)

['Data Science']