# Import the necessary libraries and dataset

In [24]:
import pandas as pd
import nltk
import re

In [25]:
resume_df = pd.read_csv("UpdatedResumeDataSet.csv")

In [26]:
resume_df

         category                                             resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [27]:
# Remove unnecessary characters
resume_df['cleaned_resume'] = resume_df['resume'].apply(lambda x: re.sub('[^a-zA-Z0-9\s]', '', x))

# Convert the text to lowercase
resume_df['cleaned_resume'] = resume_df['cleaned_resume'].apply(lambda x: x.lower())

# Remove stop words
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
resume_df['cleaned_resume'] = resume_df['cleaned_resume'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Gokul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [33]:
resume_df

,category,resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 may 2017 uitrgpv da...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
...,...,...,...
957,Testing,Computer Skills: â¢ Proficient in MS office (...,computer skills proficient ms office word basi...
958,Testing,â Willingness to accept the challenges. â ...,willingness accept challenges positive thinkin...
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",personal skills quick learner eagerness learn ...
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,computer skills software knowledge mspower poi...
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,skill set os windows xp788110 database mysql s...

In [34]:

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
features = cv.fit_transform(resume_df['cleaned_resume']).toarray()

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, resume_df['category'], test_size=0.2, random_state=0)

from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

In [32]:
test_data = ['Have an internship experience in data analictics intern']
cleaned_test_data = [re.sub('[^a-zA-Z0-9\s]', '', x.lower()) for x in test_data]
cleaned_test_data = [' '.join([word for word in x.split() if word not in stop_words]) for x in cleaned_test_data]
test_features = cv.transform(cleaned_test_data).toarray()

predicted_category = clf.predict(test_features)
print(predicted_category)

['Data Science']